
{% extends 'back/master.html' %}
{% load static %}


{% block mainblock %}

   <!-- Datatables Header -->
   <div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>دسته بندی ها<br><small></small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>دسته بندی</li>
    <li><a href="/panel/category/list/">لیست</a></li>
</ul>
<!-- END Datatables Header -->







 <!-- Datatables Content -->
 <div class="block full">
        <div class="block-title">
            <h2><strong>لیست دسته بندی ها</strong> </h2>
        </div>

        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ردیف</th>

                        <th>نام</th>



                        <th class="text-center">عملکرد</th>
                    </tr>
                </thead>
                <tbody>

                    {% for cc in cat %}
                    <tr>
                        <td class="text-center">{{cc.pk}}</td>

                        <td>{{cc.name}}</td>



                        <td class="text-center">
                            <div class="btn-group">


                                <a href="{%url 'cat_delete' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"> حذف</i></a>

                            </div>
                        </td>
                    </tr>


                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->


{% endblock %}




{% block footerblock %}

   <!-- Load and execute javascript code used only in this page -->
   <script src="{%static 'back/js/pages/tablesDatatables.js' %}"></script>
   <script>$(function(){ TablesDatatables.init(); });</script>
        {% endblock %}