{% extends 'front/master.html' %}

{% load static %}



{% block headblock %}
<title>All</title>
{% endblock %}





{% block mainblock %}





<!-- Latest -->
<section class="bg0 p-t-60 p-b-40">
	<div class="container">


		<div class="row p-t-35">

			{% for i in news %}
			<div class="col-sm-6 col-md-4">
				<!-- Item latest -->
				<div class="m-b-45">
					<a href="{%url 'news_detail' pk=i.pk %}" class="wrap-pic-w hov1 trans-03">
						<img style="display: inline-block; width:330px; height:240px;" src="{{i.image_url}}" alt="IMG">
					</a>

					<div class="p-t-16">
						<h5 class="p-b-5">
							<a href="{%url 'news_detail' pk=i.pk %}" class="f1-m-3 cl2 hov-cl10 trans-03">
								{{i.name}}
							</a>
						</h5>

						<p>{{i.short_txt}}</p>
						<br/>

						<span class="cl8">
							<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
								by {{i.writer}}
							</a>

							<span class="f1-s-3 m-rl-3">
								-
							</span>

							<span class="f1-s-3">
								{{i.jalali_time_added}}
							</span>
						</span>
					</div>
				</div>
			</div>
			{% endfor %}



		</div>
	</div>
</section>
  Page {{page_obj.number}} From {{page_obj.paginator.num_pages}}
        <br/><br/>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}"  data-toggle="tooltip" title="Previous" class="btn btn-xs btn-default"> Previous</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <a href="#" onclick="return false;" data-toggle="tooltip" title="{{Disables}}" class="btn btn-xs btn-default"> {{i}}</a>
            {% else %}
                <a href="?page={{i}}" data-toggle="tooltip" title="{{i}}" class="btn btn-xs btn-default"> {{i}}</a>
            {% endif %}
        {% endfor %}

            {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" data-toggle="tooltip" title="Next" class="btn btn-xs btn-default"> Next</a>
        {% endif %}



{% endblock %}